<template>
  <q-page padding class="bg-secondary">
    <q-form @submit="sendEmail">
      <div class="flex justify-between">
        <q-btn
          label="enviar"
          type="submit"
          :loading="submitting"
          color="positive"
          text-color="black"
        />
        <q-btn
          flat
          round
          dense
          icon="delete_outline"
          class="color-accent"
          color="accent"
        />
      </div>

      <q-input
        v-model="form.to_email"
        label="Para"
        label-color="white"
        input-class="text-white"
      />
      <q-input
        v-model="form.subject"
        label="Asunto"
        label-color="white"
        input-class="text-white"
      />
      <q-input
        v-model="form.content"
        label="Mensaje"
        type="textarea"
        label-color="white"
        input-class="text-white"
      />
    </q-form>
  </q-page>
</template>
<script>
// This is a Vue.js component that defines a form for sending an email. It imports
// the Axios library for making HTTP requests and defines a `sendEmail` method that
// sends a POST request to a specified API endpoint with the form data. The `data`
// object defines the initial state of the form inputs. When the form is submitted,
// the `sendEmail` method is called and the form data is sent to the API endpoint.
// If the request is successful, the user is redirected to the home page.
import axios from "axios";

export default {
  data: function () {
    return {
      form: {
        to_email: "",
        subject: "",
        content: "",
      },
    };
  },

  methods: {
    sendEmail() {
      console.log("Botton funciona");
      axios
        .post("http://127.0.0.1:8000/api/v1/messages", this.form)
        .then((data) => {
          console.log(data);
          this.$router.push("/");
        });
    },
  },
};
</script>
