<template>
  <q-page padding class="bg-secondary">
    <!-- // This code is creating a header section for the page corresponds to the
    HEADER of the required layout. // Below the tabs is a toolbar with various
    buttons and icons, // including a custom component called "ButtonEmail". The
    entire header section // is contained within a div.-->
    <div class="row bg-secondary">
      <q-tabs
        v-model="tab"
        dense
        no-caps
        inline-label
        class="bg-secondary text-white shadow-2"
        align="left"
      >
        <q-tab name="mails" label="Inicio" />
        <q-tab name="alarms" label="Ver" />
        <q-tab name="movies" label="Ayuda" />
      </q-tabs>
      <div class="col-12">
        <q-toolbar class="bg-grey-9 text-white border-4 q-gutter-sm">
          <q-btn flat round dense>
            <q-icon name="menu" class="q-icon--auto-size" />
          </q-btn>

          <div id="btnemail">
            <ButtonEmail />
          </div>

          <q-toolbar>
            <q-btn
              flat
              round
              dense
              icon="delete_outline"
              class="color-accent q-icon--auto-size"
              color="info"
            />
            <q-btn
              flat
              round
              dense
              icon="report_gmailerrorred"
              class="q-icon--auto-size"
              color="info"
            />
            <q-btn
              flat
              round
              dense
              icon="cleaning_services"
              class="q-mr-sm q-icon--auto-size"
              color="info"
            />
            <q-btn
              flat
              round
              dense
              icon="drive_file_move"
              class="q-mr-xs q-icon--auto-size"
              color="info"
            />
            <q-btn
              flat
              round
              dense
              icon="keyboard_return"
              class="q-icon--auto-size"
              color="info"
            />
          </q-toolbar>
          <q-btn flat round dense>
            <q-icon name="more_vert" class="q-icon--auto-size" />
          </q-btn>
        </q-toolbar>

        <!--// This code is creating a container div that includes two custom
        components named "SectionInbox" and "TabInbox" correspond to COLUMN 1
        and COLUMN 2 of the required design-->
        <div class="q-pa-md row flex-column align-items-center">
          <div class="col-md-2 col-sm-4">
            <SectionInbox />
          </div>

          <div class="col-md-10 col-sm-8 text-center">
            <TabInbox />
          </div>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
// This code is defining a Vue component called "IndexPage". It imports three
// custom components named "ButtonEmail", "SectionInbox", and "TabInbox" from their
// respective files. These components are then registered as child components of
// the "IndexPage" component using the "components" property. The "defineComponent"
// function is used to create the component and set its name. Additionally, there
// is some scoped CSS styling that hides certain elements in the toolbar when the
// screen width is less than 600px.
import { defineComponent } from "vue";
import ButtonEmail from "components/ButtonEmail.vue";
import SectionInbox from "components/SectionInbox.vue";
import TabInbox from "components/TabInbox.vue";

export default defineComponent({
  name: "IndexPage",

  components: {
    ButtonEmail,
    SectionInbox,
    TabInbox,
  },
});
</script>

<style scoped>
@media only screen and (max-width: 600px) {
  .q-toolbar > *:not(#btnemail) {
    display: none;
  }
}
</style>
