<template>
  <div class="q-pa-md">
    <q-btn-dropdown
      to="/form-email"
      split
      color="positive"
      text-color="black"
      push
      glossy
      no-caps
      icon="email"
      label="Correo nuevo"
      @click="onMainClick"
    >
      <q-list>
        <q-item clickable v-close-popup @click="onItemClick">
          <q-item-section avatar>
            <q-icon name="email" color="white" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Correo</q-item-label>
          </q-item-section>
        </q-item>

        <q-item clickable v-close-popup @click="onItemClick">
          <q-item-section avatar>
            <q-icon name="today" color="white" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Evento</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </q-btn-dropdown>
  </div>
</template>

<script>
export default {
  setup() {
    return {
      onMainClick() {
        console.log("Clicked on bottun");
      },

      onItemClick() {
        console.log("Clicked on an Item");
      },
    };
  },
};
</script>
