<template>
  <div class="q-pa-md text-white">
    <q-list bordered class="rounded-borders">
      <q-expansion-item
        switch-toggle-side
        expand-separator
        label="Carpetas"
        text-white
      >
        <q-card>
          <q-card-section class="bg-secondary flex flex-center text-white">
            <q-item-section avatar>
              <q-icon name="inbox" color="white" class="q-mr-xs" />
            </q-item-section>
            Bandeja de entrada
          </q-card-section>
          <q-card-section class="bg-secondary flex flex-center text-white">
            <q-item-section avatar>
              <q-icon name="folder_delete" color="white" class="q-mr-xs" />
            </q-item-section>
            Correos no deseados
          </q-card-section>
          <q-card-section class="bg-secondary flex flex-center text-white">
            <q-item-section avatar>
              <q-icon name="send" color="white" class="q-mr-xs" />
            </q-item-section>
            Elementos enviados
          </q-card-section>
          <q-card-section class="bg-secondary flex flex-center text-white">
            <q-item-section avatar>
              <q-icon name="mode" color="white" class="q-mr-xs" />
            </q-item-section>
            Borrdores
          </q-card-section>
        </q-card>
      </q-expansion-item>
      <q-expansion-item
        switch-toggle-side
        expand-separator
        label="Grupos"
        text-white
      ></q-expansion-item>
    </q-list>
  </div>
</template>
