<template>
  <q-page padding class="bg-secondary">
    <div class="q-pa-md">
      <div class="q-gutter-y-md">
        <q-tabs
          v-model="tab"
          dense
          class="text-grey"
          active-color="primary"
          indicator-color="primary"
          align="justify"
          narrow-indicator
        >
          <q-tab name="mails">
            <div class="text-h7 text-white">Prioritarios</div>
          </q-tab>
          <q-tab name="alarms">
            <div class="text-h7 text-white">Otros</div>
          </q-tab>
        </q-tabs>

        <q-separator />

        <!--// The `q-tab-panels` component is creating a container for the tab
        panels, // and the `v-model="tab"` attribute is binding the currently
        active tab to // the `tab` variable in the Vue component. The `animated`
        attribute is // enabling animation when switching between tabs. The
        `@reset="onReset"` // attribute is binding the `onReset` method to the
        `reset` event of the // `q-tab-panels` component.-->
        <q-tab-panels v-model="tab" animated @reset="onReset">
          <q-tab-panel class="bg-dark" name="mails">
            <div v-if="posts.length">
              <q-card
                v-for="(post, index) in posts"
                :key="index"
                class="q-mb-md bg-secondary text-white"
              >
                <q-card-section>
                  <div class="text-h6 text-white row justify-between">
                    <div>Asunto: {{ post.subject }}</div>
                    <div>Para: {{ post.to_email }}</div>
                    <div>
                      fecha:
                      {{
                        new Date(post.created_at).toLocaleString("es-ES", {
                          year: "numeric",
                          month: "2-digit",
                          day: "2-digit",
                          hour: "2-digit",
                          minute: "2-digit",
                        })
                      }}
                    </div>
                    <q-btn
                      flat
                      round
                      dense
                      icon="delete_outline"
                      class="color-accent"
                      color="accent"
                      @click="onReset(post.id)"
                    />
                  </div>
                </q-card-section>
                <q-separator />
              </q-card>
            </div>
            <div v-else>
              No hay mensajes de correo electrónico para mostrar.
            </div>
          </q-tab-panel>
          <q-tab-panel class="bg-dark" name="mails">
            <div>
              <div>
                <q-separator />
              </div>
            </div>
          </q-tab-panel>
        </q-tab-panels>
      </div>
    </div>
  </q-page>
</template>

<script>
// This code is setting up a Vue component. It imports the `ref` and `onMounted`
// functions from the Vue library, as well as the `api` object from a custom Axios
// instance and the `axios` library.

import { ref, onMounted } from "vue";
import { api } from "boot/axios";
import axios from "axios";

export default {
  setup() {
    const posts = ref([]);

    onMounted(() => {
      getPosts();
    });

    const getPosts = async () => {
      try {
        const data = await api.get("http://127.0.0.1:8000/api/v1/inbox");
        console.log(data);
        posts.value = data.data.data;
      } catch (error) {
        console.error(error);
      }
    };

    const onReset = async (id) => {
      try {
        await axios.delete(`http://127.0.0.1:8000/api/v1/messages/${id}`);
        getPosts();
      } catch (error) {
        console.error(error);
      }
    };

    return {
      posts,
      tab: ref("mails"),
      onReset,
    };
  },
};
</script>
