<template>
  <div class="q-pa-md">
    <q-layout
      view="hHh Lpr lff"
      container
      style="height: 870px"
      class="shadow-2 rounded-borders"
    >
      <!--// This code has a header section for the web corresponds to the HEADER of
      the required layout // Includes a toolbar-->
      <q-header elevated :class="bg - primary">
        <div class="row no-wrap shadow-1">
          <q-toolbar>
            <q-btn
              flat
              round
              dense
              to="/"
              color="accent"
              icon="apps"
              class="q-mr-xs"
            />
            <q-toolbar-title class="text-accent">Outlook</q-toolbar-title>
          </q-toolbar>

          <q-toolbar class="col-4 bg-primary text-white q-mr-lg" padding>
            <q-file
              outlined
              v-model="model"
              class="q-mr-lg bg-secondary"
              style="border-radius: 5px; width: 300px"
              label="Buscar"
            >
              <template v-slot:prepend>
                <q-icon name="search" color="accent" />
              </template>
            </q-file>
            <q-avatar color="secondary" text-color="white" padding>B</q-avatar>
          </q-toolbar>
        </div>
      </q-header>

      <q-drawer
        v-model="drawer"
        show-if-above
        :mini="miniState"
        @mouseover="miniState = false"
        @mouseout="miniState = true"
        :width="200"
        :breakpoint="500"
        bordered
        :class="$q.dark.isActive ? 'bg-black' : 'bg-black'"
      >
        <!-- // This code is creating a side drawer menu that corresponds to the
        DRAwER of the required layout // Includes a scrollable list of items,
        each with an icon and label.-->
        <q-scroll-area class="fit" :horizontal-thumb-style="{ opacity: 0 }">
          <q-list padding>
            <q-item to="/" clickable v-ripple>
              <q-item-section avatar>
                <q-icon name="email" color="primary" />
              </q-item-section>

              <q-item-section>
                <h7 class="text-accent">Correo</h7>
              </q-item-section>
            </q-item>

            <q-item clickable v-ripple>
              <q-item-section avatar>
                <q-icon name="today" color="accent" />
              </q-item-section>

              <q-item-section>
                <h7 class="text-accent">Calendario</h7>
              </q-item-section>
            </q-item>

            <q-item clickable v-ripple>
              <q-item-section avatar>
                <q-icon name="group" color="accent" />
              </q-item-section>

              <q-item-section>
                <h7 class="text-accent">Contactos</h7>
              </q-item-section>
            </q-item>

            <q-item clickable v-ripple>
              <q-item-section avatar>
                <q-icon name="attach_file" color="accent" />
              </q-item-section>

              <q-item-section>
                <h7 class="text-accent">Archivos</h7>
              </q-item-section>
            </q-item>

            <q-item clickable v-ripple>
              <q-item-section avatar>
                <q-icon name="cloud" color="primary" />
              </q-item-section>

              <q-item-section>
                <h7 class="text-accent">Nube</h7>
              </q-item-section>
            </q-item>

            <q-item clickable v-ripple>
              <q-item-section avatar>
                <q-icon name="done_outline" color="primary" />
              </q-item-section>

              <q-item-section style="text-color: white">
                <h7 class="text-accent">To do</h7>
              </q-item-section>
            </q-item>

            <q-item clickable v-ripple>
              <q-item-section avatar>
                <q-icon name="grid_view" color="accent" />
              </q-item-section>

              <q-item-section style="text-color: white">
                <h7 class="text-accent">App</h7>
              </q-item-section>
            </q-item>
          </q-list>
        </q-scroll-area>
      </q-drawer>

      <!-- // The `q-page-container` component is used to contain the content of the
      web-->
      <q-page-container>
        <router-view />
      </q-page-container>
    </q-layout>
  </div>
</template>

<script>
// This code is importing the `ref` function from the Vue library and using it in
// the `setup` function to create two reactive variables: `drawer` and `miniState`.
// The `ref` function is used to create a reactive reference to a value, which
// means that any changes to the value will trigger a re-render of the component.
// These variables are then returned as an object from the `setup` function, making
// them available for use in the template.
import { ref } from "vue";

export default {
  setup() {
    return {
      drawer: ref(false),
      miniState: ref(true),
    };
  },
};
</script>
